body {
  font-family: Verdana, Arial, sans-serif;
}

table, th, td {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 1px;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  background-color: #E1F5FE;
}
input {
  display: block;
  border-radius: 5px;
  margin: -15px 0 auto 0;
}

.labels {
  width: 8%;
  display: block;
  margin: 15px 0 15px 0;
}

button {
  background-color: darkgray;
  color: black;
  border-radius: 5px;
}

#submit {
  margin-top: 15px;
}
